---
name: {{SKILL_NAME}}
description: RBAC, pod security posture, privilege tightening
agent: {{AGENT}}
install_root: {{ROOT_DIR}}
bin_dir: {{ROOT_DIR}}/bin
---

{{ENTRYPOINT}}

{{GLOBAL_FLAGS}}

<!-- Body populated in a later TODO item. -->
