---
name: {{SKILL_NAME}}
description: Outdated services, known CVEs, available version bumps
agent: {{AGENT}}
install_root: {{ROOT_DIR}}
bin_dir: {{ROOT_DIR}}/bin
---

{{ENTRYPOINT}}

{{GLOBAL_FLAGS}}

<!-- Body populated in a later TODO item. -->
